.navbar_barContent {
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.navbar_logo {
    margin-top: 10px;
}

.navbar_gridIIII {
    display: flex;
}

.navbar_img {
    margin: 15px 10px;
    max-width: 25px;
    max-height: 25px;
}

.navbar_search {
    margin-top: 10px;
    height: 30px;
    width: 215px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}